@import "tailwindcss";

  

  @layer components {
    
    .menu--open {
      @apply !visible !opacity-100;
    }
  
    .header--hidden {
      @apply -translate-y-full;
    }
    .header--bg {
      @apply bg-white;
      #menu-btn > div {
        @apply bg-black;
      }
      svg > * {
        @apply !bg-black;
      }
    }
    .noscroll {
      overflow: hidden;
    }
  }
  
@theme {
	
	
  --my-grid: repeat(12, minmax(0, 64px));
}

@layer base {
    .container {
        @apply mx-auto px-6 lg:px-0 lg:max-w-7xl;
    }
}

@layer components {
  

  .duotone img {
    @apply flex-[1_0_100%] object-cover mix-blend-multiply grayscale transition-all duration-300 ease-in-out;
  }
  .menu-btn--open {
    div:nth-child(2) {
      @apply opacity-0 !bg-white;
    }
    div:first-child {
      @apply translate-y-[9px] rotate-45 !bg-white;
    }
    div:last-child {
      @apply -translate-y-[9px] -rotate-45 !bg-white;
    }
  }
  .menu--open {
    @apply !visible !opacity-100;
  }

  .header--hidden {
    @apply -translate-y-full;
  }
  .header--bg {
    @apply bg-white;
    #menu-btn > div {
      @apply bg-black;
    }
    svg > * {
      @apply !bg-black;
    }
  }
  .noscroll {
    overflow: hidden;
  }
}