---
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import imgHeroFestival from "../assets/hero/image_header_festival.jpg";
const title = "Le Festival";
---

<LayoutWithHero
    title={title}
    description="Pour nous connaître plus !"
    src={imgHeroFestival}
    alt="Contact"
>
    <h2>~ A propos ~</h2>
    <h3>Qu’est ce que Flash Ciné 25 ?</h3>
    <p>
        Le festival Flash Cinéma 25 est un événement cinématographique qui se
        déroule dans la ville d'Ornans, située dans le département du Doubs. Ce
        festival se distingue de ces concurrents par son concept dynamique, en
        mettant à l'honneur les films courts et des courts métrages qui
        capturent la rapidité, l'énergie et l'innovation du septième art.
    </p>
</LayoutWithHero>
